/* page font */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    font-family: "Cabin";
}
/* entire page background color */
html {
    background-color: #f5f7ec;;
}

/* font sizes */
h1 {
    font-size: 40px;
    margin-top: 0;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 15px;
}

/* remove white margins from body */
body{
    margin: 0;
}

/* Header, footer style */
.header, .footer {
    background-color:#3a5371;
    color:#f5f7ec;
    padding: 16px;
}

/* center heading content and add padding */
.header {
    text-align: center;
    display: block;
    padding-bottom: 50px;
}
img {
    border-style: solid;
    border-color:#f5f7ec;
    border-radius: 50%;
}

/* Menu styling */
#menu-ul, #menu-ul * {
    list-style-type: none;
    color:#f5f7ec;
    margin:0;

}
#menu-ul {
    padding: 20px 20px 0px 20px;
}
.menu {
    background:#11abb7;
    color:#f5f7ec;
    margin-right: 80%;
    padding: 10px;

}
.menu h3 {
    padding-left: 20px;
    margin: 0;
}

/* Article and content styling */
.article {
    color:#3a5371
}
section {
    margin: 100px 80px;
}

/* Footer styling */
.footer {
    padding-left: 80px;
    color:#f5f7ec
}
#footer-ul * {
    list-style: none;
    color:#f5f7ec;

}
